---
# All rights reserved (c) 2020-2024, Vladimir Botka <vbotka@gmail.com>
# Simplified BSD License, https://opensource.org/licenses/BSD-2-Clause

- name: "Al_include_sanity_platform_test_vars: Set al_sanity_platform_test"
  ansible.builtin.set_fact:
    al_sanity_platform_test: "{{ ansible_distribution }}"

- name: "Al_include_sanity_platform_test_vars: Set al_sanity_platform_version_test"
  ansible.builtin.set_fact:
    al_sanity_platform_version_test: "{{ ansible_distribution_release }}"

- name: "Al_include_sanity_platform_test_vars: Set al_sanity_platform_version_test"
  ansible.builtin.set_fact:
    al_sanity_platform_version_test: "{{ ansible_distribution_version }}"
  when: al_sanity_platform_test == 'FreeBSD'

# EOF
...
